    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
        </li>
    </ul>

<p>Welcome story teller</p>

<a href="/stories">See all stories</a>

