<div class="index-page">
<h1>Welcome story teller</h1>
<br>
<p>On this side you can unleash your inner writer</p>
<p>Read <a class="link"href="/stories">here</a> the stories other users wrote</p>
<p>Would you like to create your on stories? Please login or signup to start</p>

<a class="btn btn-light" href="/signup" role="button">Signup</a>
<br>
<a class="btn btn-light" href="/login" role="button">Login</a>
</div>




