<p>You are not autorized to view this page</p>
<p>Please signup or login</p>

<p><a class="btn btn-secondary" href="/signup" role="button">Signup</a> <a class="btn btn-secondary" href="/login" role="button">Login</a></p>
</div>

