<div class="story-cards">
  {{#each stories}}
  <div class="card" style="width: 18rem;">
    <img src="images/story-book.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text story-sum">{{this.description}}</p>
      <a href="/stories/{{id}}" class="card-link">See details</a>
    </div>
  </div>
  {{/each}}
  </div>