body {
  width: 65%;
  margin: 50px auto;
}

body::after {
  content: "";
  background: url(../images/story-book.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.titleH2,
.btn-create-login {
  margin: 50px 0px;
}

.story-cards {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.story-sum {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
