<h2>Edit the story</h2>

<form action="/stories/{{story.id}}/edit" method="POST">
  <div class="textarea">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="{{story.title}}" />

    <label for="story">Edit story:</label>
    <textarea name="description" id='story' cols="150" rows="25">{{story.description}}</textarea>

    <label for="status">Status:</label>
    <select id="status" name="status">
      <option value="public">Public</option>
      <option value="private">Private</option>
    </select>

    <button class="btn btn-secondary btn-create">Save changes</button>
    
  </div>
</form>