<h2>Create a story</h2>

<form action="/create" method="post">
  <div class="textarea">

    <label for="title-input">Title:</label>
    <input type="text" required name="title" id="title-input"/>

    <label for="description-input">My story:</label>
    <textarea name="description" required id="description-input" cols="150" rows="25"></textarea>

    <label for="status">Status:</label>
    <select id="status" name="status">
      <option value="public">Public</option>
      <option value="private">Private</option>
    </select>

    <button class="btn btn-secondary" type="submit">Create</button>
    
  </div>
</form>
