{{#if userInSession}}
<h2>Welcome, {{ userInSession.username }}!</h2>
<p>This is your profile page!</p>

<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</form>

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}